@import url(https://fonts.googleapis.com/css?family=Roboto);
.margin100{
margin-bottom: 100px;
}

html, body {
	padding: 0;
	margin: 0;
}
.notihead {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
	color: #2c3e50;
	padding-bottom: 20px;
	font-weight: 700;
}
.notiwhole {
padding-left: 5px;
}
.bg-1{

width: 100%;





background: #525252; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 50px 0 50px 0;


}

.bg-3 {
	text-align: center;
font-family: 'Roboto', sans-serif;

background: #0099F7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0099F7 , #F11712); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0099F7 , #F11712); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100%;
	padding: 50px 0 50px 0;
}
.noticont {
	text-align: left;
	max-width: 700px;
	min-width: 50px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.notidate {
	color: #fff;
	font-size: 20;
	font-family: 'Roboto', sans-serif;
	border-bottom: 2px;
	border-bottom-style: solid;
	padding: 0 5px 0 5px;
	border-bottom-color: #fff;
	margin: 0 auto;
}
.notinoti {
line-height: 1.5;
	color: #fff;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	width: 600px;
	min-width: 50px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

/* hr like line for bg-1 */
h6{
	padding-bottom: 50px;
	overflow: hidden;
	text-align: center;
	max-width:800px;
	min-width:50px;
	margin: 0 auto;

}
h6:before,
h6:after {
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  text-align: center;
	background-color: #fff;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
h6:before {
	right: 0.5em;
	margin-left: -50%;
}
h6:after {
	left: 0.5em;
	margin-right: -50%;
}



/*hr like line for bg-2*/


h5{
	padding-bottom: 50px;
	overflow: hidden;
	text-align: center;
	max-width:800px;
	min-width:50px;
	margin: 0 auto;

}
h5:before,
h5:after {
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  text-align: center;
	background-color: #fff;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
h5:before {
	right: 0.5em;
	margin-left: -50%;
}
h5:after {
	left: 0.5em;
	margin-right: -50%;
}





.contactus-border{

border: 1px solid;
	border-radius: 5px;
	padding: 15px;
}






.contactus {




	display: inline-block;
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	max-width: 300px;

	min-width: 10px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left:calc(15% - 50px);
	padding-right: calc(15% - 50px);
}
p.contact-cont {
	text-align: left;
	font-size: 16px;
}

p.contact-reach {
	text-align:left;
	font-size: 16px;
}
#contact-head {

	font-size: 20px;
}

.placecom-foot{
color: #fff;
	font-size: 14px;




}





hr{
	border: 0;
	height: 1px;

	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(236, 240, 241, 1.0), rgba(0, 0, 0, 0));
}


.readmorex {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
	color:yellow;
}
.closex {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
	color: #f1c40f;
}
